<ion-header>
  <ion-navbar color="primary">
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
    
  <ion-list>
    <ion-item-sliding #slidingItem *ngFor="let transaction of numbers">
      
          <ion-item *ngIf="transaction.status == 'new'" color="light" (click)="openWhatsapp(transaction.number)" >
              <ion-label>
                {{transaction.name}}
                <p>{{transaction.number}}</p>
              </ion-label>
          </ion-item>

          <ion-item *ngIf="transaction.status == 'read'" color="read" (click)="openWhatsapp(transaction.number)" >
              <ion-label>
                {{transaction.name}}
                <p>{{transaction.number}}</p>
              </ion-label>
          </ion-item>
          
          <ion-item-options side="left" (ionSwipe)="favorite(transaction.number)">
            <button ion-button (click)="favorite(transaction.number)"  color="favourite">Favorite</button>
          </ion-item-options>
      
          <ion-item-options side="right" (ionSwipe)="delete(transaction.number)">
            <button ion-button (click)="delete(transaction.number)" color="danger">Archive</button>
          </ion-item-options>
        </ion-item-sliding>
  </ion-list>

  <p ion-text text-center>Come back every 12 hrs to find new global phone numbers on your dashboard.</p>
  <p ion-text text-center>Total numbers found = {{nNumbers}}</p>
</ion-content>
